.blog{
 width: 70%;
 height: 100%;
 margin-left: 15%;
 text-align: left;
 /* background-color: red; */
}
.blogContent .title{
    word-break: break-word!important;
    word-break: break-all;
    margin: 20px 0 0;
    font-family: -apple-system,SF UI Display,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
   font-size: 50px;
    font-weight: 700;
    line-height: 1.3;
}
.blog h4::before{
    content: '#  ';
    color: #363636;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    position: relative;
    
}

h1{
    font-size: 30px;
    font-weight: 700;
}
h2{
    font-size: 26px;
    font-weight: 700;
}
h3{
    font-size: 23px;
    font-weight: 700;
}
h4{
    font-size: 20px;
    font-weight: 700;
}
h5{
    font-size: 17px;
    font-weight: 700;
}
h6{
    font-size: 14px;
    font-weight: 650;
}

pre {
    background-color: #f8f8f8;
    /* background-color: #e85b46; */
     /*控制代码不换行*/
     white-space: pre;
     word-wrap: normal;
     line-height: 20px;
     margin-left: 20px;
     border-radius: 10px;
     padding: 20px;
     border-top:3px solid  #e17b77 ;
    
}
.blogContent p{
    color: #2f2f2f;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
}
p img{
    width: 90%;
    margin-left: 5%;

}
p code{
    background-color: #f8f8f8;
    color: #e85b46;
}
.blogContent .viewmore{
    width: 120px;
    height: 40px;
    margin:30px 15%;
    float: right;
    
    background-color: #e17b77;
    border: 2px solid  #e17b77;
   
    cursor: pointer;
    font-size: 14px;
    font-weight: 100;
    padding: 10px 14px;
    letter-spacing: .5px;
    text-transform: uppercase!important;
}
.blogContent .viewmore a {
    color:#fff;
}
.blogContent .viewmore a:hover{
    color: #e17b77;
}
.blogContent .viewmore:hover{
    background-color: #fff;
    
}
.blogContent .sponsor{
   
}
@media screen and (max-width: 1100px) {
    .blogContent .sponsor{
        display: block;
    }  
}